body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.to-do-list-main{
  background-color: #1f1f1f;
  align-items: center;
  justify-content: center;
  text-align: center;
  height:100vh;
}
ul li {
  text-decoration: none;
  list-style: none;
  color: #f1f1f1;
}
li{
  font-size: 25px;
  width: 50vw;
  background-color: gray;
  border-radius: 50px;
  margin-top: 5px;
  margin-left: 25vw;
  height: 5vh;
  cursor: pointer;
}
.green{
  background-color: green;
}
 h1{
   color: greenyellow;
 }
 input{
   width: 20vw;
   height: 5vh;
 }
 button{
  width: 5vw;
  height: 5vh;

 }